{% extends "base.html" %} {% load static %} {% block content %}

<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-md-12 text-center">
        <h1>Welcome to BroBonds</h1>
        <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <p class="px-3 px-sm-0">At BroBonds, we're dedicated to transforming the conversation around men's mental health by creating a space that fosters genuine connections. We recognize the challenges of isolation and its impact on mental well-being. Our mission is to bridge this gap by providing a safe, inclusive environment where men can find solace and cultivate meaningful relationships through shared interests.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
        <h2>Our Vision</h2>
        <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
        <p class="px-3 px-sm-0">BroBonds is a digital haven designed to overcome barriers preventing men from gaining social contact and building supportive connections. We understand the complexities of social isolation and aim to address them through:</p>
        <ul>
            <li>Anonymity: Offering the option to explore and engage anonymously for those feeling hesitant or anxious.</li>
            <li>Guided Interaction: Facilitators ensuring a positive, inclusive, and open atmosphere on the platform.</li>
            <li>User-Friendly Design: A simple, accessible platform for a smooth user experience, directly tailored to men.</li>
            <li>Visibility Option: Allowing users to transition into visibility, facilitating relationship building.</li>
            <li>Event Focus: Creating opportunities for face-to-face or online events, fostering connections and support.</li>
            <li>Interactive Engagement: Commenting on events for inquiries and easing worries or anxieties.</li>
        </ul>
        </div>
        <div class="col-lg-6">
            <img src="{% static 'images/about-us-image.jpg'%}" id="about-img" alt="Image of men talking at a coffee shop" class="img-fluid rounded shadow">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
        <h2>Our Platform</h2>
        <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <p class="px-3 px-sm-0">Explore our diverse range of blogs, connect with like-minded individuals, and participate in engaging online and in-person events. We're committed to supporting your journey toward deeper social connections, understanding, and a sense of belonging.</p>
        <p class="px-3 px-sm-0">BroBonds strives to not only tackle social isolation but also aims to address the psychological factors associated with it, setting the stage for future growth and development.</p>
        <p class="px-3 px-sm-0">Join BroBonds and be part of a community dedicated to reshaping the narrative around men's mental health.</p>
        </div>
    </div>
</div>



{% endblock%}
