{% extends "base.html" %} {% load static %} {% block content %}

<div class="container mt-4 mb-4 text-center">
    <div class="row">
        <div class="col-md-12">
        <h1>FAQ's</h1>
        <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <h5 class="px-3 px-sm-0">Discover valuable insights and clear explanations about our site's features and functionality in our detailed FAQ section.</h5>
        <hr>
    </div>
    <div class="row mt-4">
        <p>How do I sign up?</p>
        <p>
            If you navigate to the 'Join' option in the top navigation bar, it will direct you to the sign-up page. There, you can easily input your email, chosen username, and password to complete the registration process.
        </p>
        <hr>
    </div>
    <div class="row mt-4">
        <p>How to I make myself Anonymous?</p>
        <p>
            To ensure anonymity, navigate to the 'My Account' option in the top navigation bar and select 'My Profile'. 
            Within this section, you'll find the option to toggle 'Anonymous Mode', allowing you to hide your details while using the platform.
        </p>
        <hr>
    </div>
    <div class="row mt-4">
        <p>How can I log out?</p>
        <p>
            To log out, go to the 'My Account' section in the navigation bar, and then choose 'Log Out'. This action will securely end your current session.
        </p>
        <hr>
    </div>
    <div class="row mt-4">
        <p>How can I create a Blog?</p>
        <p>
            Blog creation becomes available once you've registered an account. If you haven't signed up yet, simply use the 'Join' button to create an account. 
            Afterward, access the 'Blogs' tab in the navigation bar, look for the 'Create a Blog' feature at the top of the screen. 
            Clicking this allows you to compose your blog post, where you can share your interests, add a captivating title, input content, and personalize it with an image.
        </p>
        <hr>
    </div>
    <div class="row mt-4">
        <p>How do I become a facilitator?</p>
        <p>
            Establish yourself within our community by providing valuable support and engagement, you can apply through the 'Accounts' page to become a facilitator. 
            Please note applications are individually assessed to ensure the selection of facilitators who best match our community's requirements.
        </p>
        <hr>
        <div class="row mt-4">
            <p>How can I create an event?</p>
            <p>
                Currently, only facilitators have the ability to create events. If you're interested in becoming a facilitator, please submit an application through the 'Accounts' page.
            </p>
            <hr>
        </div>
        <div class="row mt-4">
            <p>If you have further questions, feel free to contact one of our facilitators who will be more than happy to assist you.</p>
        </div>
    </div>
</div>

{% endblock%}
