{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Hero Image -->

<div class="text-center bg-image position-relative">
    <img src="{% static 'images/hero-image.jpg' %}" alt="Men Laughing" class="img-fluid hero-image" />
    <div class="position-absolute top-0 end-0 p-4">
      <!-- Search bar at the top right -->
      <form class="d-flex">
        <input class="form-control me-2 hero-search" type="search" placeholder="Search for blogs and events" aria-label="Search for blogs and events">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
    <div class="d-flex justify-content-center align-items-center position-absolute top-50 start-50 translate-middle text-white text-center w-75">
      <!-- Hero text -->
      <div class="bg-dark bg-opacity-75 p-4 rounded">
        <h1 class="mb-3">Share your story with others!</h1>
        <h4 class="mb-3">Join the community and inspire others</h4>
        <a class="btn btn-outline-light btn-lg call-to-action" href="#!" role="button">Join us now</a>
      </div>
    </div>
  </div>
