{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Hero Image -->

<div class="text-center bg-image position-relative">
    <img src="{% static 'images/hero-image.jpg' %}" alt="Men Laughing" class="img-fluid hero-image" />
    <div class="d-flex justify-content-center align-items-center position-absolute top-50 start-50 translate-middle text-white text-center w-75">
      <!-- Hero text -->
      <div class="bg-dark bg-opacity-75 p-4 rounded">
        <h1 class="mb-3">Share your story with others!</h1>
        <h4 class="mb-3">Join the community and inspire others</h4>
        <a class="btn btn-outline-light btn-lg call-to-action" href="#!" role="button">Join us now</a>
      </div>
    </div>
  </div>
</div>

<!-- About us (only shown on large screens) -->

<div class="container mt-5 mb-5">
    <div class="about-section bg-dark-blue text-white p-4 rounded text-center">
        <h2>Welcome To BroBonds</h2>
        <p>
        BroBonds a digital haven designed to bridge the gap between isolation and connection. 
        We're a dedicated team committed to reshaping the narrative around men's mental health by fostering an environment 
        that encourages genuine connections. At BroBonds, we understand the challenges of loneliness and the impact it has 
        on mental well-being. Our platform offers a diverse range of opportunities, from engaging with insightful blogs that 
        resonate with personal experiences to participating in engaging online and in-person events curated to spark 
        meaningful connections.
    </p>
    <p>
        Our mission is to provide a safe and inclusive space where men can find solace and build meaningful connections 
        through shared interests. Whether you're exploring anonymously or actively participating in our vibrant community, 
        BroBonds offers a variety of pathways. Dive into blogs that provide valuable insights or join our
        range of events where you can connect with like-minded individuals. Our goal is to support your journey towards
        greater social connections, understanding, and a profound sense of belonging.

        </p>
    </div>
</div>

<!-- Motivational Quote -->

<div class="container mt-5">
    <div class="row">
      <div class="col-md-12 text-center">
        <hr>
        <blockquote class="blockquote">
          <p class="mb-0"><em>Step into a space where shared interests empower against loneliness. Join our community to discover the
             strength of belonging in every connection made.</em></p>
        </blockquote>
        <hr>
      </div>
    </div>
  </div>

<!-- Blog and Event Cards -->

<div class="container mt-5">
    <h2 class="text-center mb-4">Check Out Our Amazing Community</h2>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="placeholder-img border"></div>
          <div class="card-body">
            <h5 class="card-title">Latest Blog</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="placeholder-img border"></div>
          <div class="card-body">
            <h5 class="card-title">Popular Blog</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="placeholder-img border"></div>
          <div class="card-body">
            <h5 class="card-title">Latest Event</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock%}

