@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;1,300&family=Roboto&display=swap');

/* Global Variables */

:root {
    /* Colors */
    --off-white: #f5f5f5;
    --blue-grey: #93b8bf;
    --orange: #ffae42;
    --beige: #e6e1c5;
    --dark-blue: #667a92;
    --black: #000;
    --white: #fff;

    /* Global Button Styling */

    --call-to-action: #ffae42;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Body */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: var(--off-white);

}

/* Headings */

h1,
h2 {
    font-family: 'Kanit', sans-serif;
}

/* Button Styling */

.call-to-action {
    background-color: var(--call-to-action);
    border-color: var(--call-to-action);
    color: var(--white);
    transition: transform 0.2s ease-in-out;
}

.call-to-action:hover {
  transform: scale(1.05);
}


img.logo {
    width: 10vw;
}

/* ----------Bootstrap toasts---------- */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* ----------Home Page---------- */

.hero-image {
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text, .hero-subtext {
    margin-bottom: 1rem;
}

.about-section {
    background-color: var(--dark-blue) ;
}

/* PLACEHOLDER FOR THE CARDS */
/* PLEASE REMOVE WHEN CARDS IMPLEMENTED */
.placeholder-img {
    height: 200px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}


@media (max-width: 575px) {
    .hero-text {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    .hero-subtext {
        font-size: 1rem;
        margin-bottom: 10px;
    }
    .call-to-action {
        padding: 6px 12px;
        font-size: 0.8rem;
    }
}

@media (max-width: 470px) {
    .hero-text {
        font-size: 1rem;
        margin-bottom: 5px;
    }
    .hero-subtext {
        font-size: .8rem;
        margin-bottom: 5px;
    }
}

/* ----------Footer---------- */

footer {
    margin-top: auto;
    background-color: var(--blue-grey);
}

footer a {
    text-decoration: none;
    color: var(--black);
}

.footer-images {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    border: var(--black) 1px solid;
}
.zoom-effect img {
    transition: transform 0.3s ease-in-out;
  }

.zoom-effect:hover img {
    transform: scale(1.1);
  }

  @media screen and (max-width:767px) {
    .footer-images {
        width: 4rem;
        height: 4rem;
    }

}

/* ----------Header---------- */

.header {
    background-color: var(--blue-grey);
    height: 5rem;
}

.navigation-links {
    color : var(--black);
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#header-logo {
    height: 4rem;
    width: auto;
}
/* ---------- About Page ---------- */
#about-image{
    max-width: 100%;
    height: auto;
}
/* -----------Login--------- */

.login-container {
    top: 18rem;
}

@media screen and (max-width:1200px) {
    #login-image {
        height: 45rem;
        object-fit: cover;
    }
}

/* ---------Sign-up-------- */

.signup-container {
    top: 20rem;
}
.over-18 {
    color: var(--orange)
}

@media screen and (max-width:1200px) {
    #register-image {
        height: 45rem;
        object-fit: cover;
    }
}

/* ---------Profile page-------- */

.facilitator-thankyou {
    color: var(--orange)
}

#profile-container {
    width: 50rem;
    margin: 0 auto;
}

@media screen and (max-width:1000px) {
    #profile-container {
        width: 40rem;
    }
}

@media screen and (max-width:767px) {
    #profile-container {
        width: 20rem;
    }
}


/* ----------- Blog list --------- */

.search-bar {
    width: 20rem;
    float: right;
    margin-right: 2rem;
}

.container-blogs {
    width: 100%;
    display: grid;
    padding: 2rem;
}

#to-post-button {
    float: right;
}

.blog-title {
    color: var(--orange);
    text-decoration: none;
}

/* ----------- Create Blog --------- */

.create-blog-cont {
    width: 40rem;
    margin: 0 auto;
}

#new-blog-btn {
    float: right;
}

@media screen and (max-width:800px) {
    .create-blog-cont {
        width: 90%;
        margin: 0 auto;
    }
}