{% load static %}

<footer class="footer">
    <div class="container p-4 pb-0 text-center">

    <!-- Names -->

      <section class="mb-4">
        <div class="row">
          <div class="col-md-2 d-flex flex-column align-items-center">
            <a href="https://www.linkedin.com/in/georgina-carlisle-617b58268/" class="zoom-effect">
              <img src="static/images/georgina-carlisle.jpeg" alt="Georgina" class="footer-images" />
              <p class="mt-2">Georgina Carlisle</p>
            </a>
          </div>

          <div class="col-md-2 d-flex flex-column align-items-center">
            <a href="https://www.linkedin.com/in/joy-zadan/" class="zoom-effect">
              <img src="static/images/blank-avatar.jpeg" alt="Joy" class="footer-images" />
              <p class="mt-2">Joy Zadan</p>
            </a>
          </div>

          <div class="col-md-2 d-flex flex-column align-items-center">
            <a href="https://www.linkedin.com/in/radleigh-smith-46312a20a/" class="zoom-effect">
              <img src="static/images/radleigh-smith.jpeg" class="footer-images" alt="Radleigh" />
              <p class="mt-2">Radleigh Smith</p>
            </a>
          </div>

          <div class="col-md-2 d-flex flex-column align-items-center">
            <a href="http://www.linkedin.com/in/callum-jepps-a4a8b3101/" class="zoom-effect">
              <img src="static/images/blank-avatar.jpeg" alt="Callum" class="footer-images" />
              <p class="mt-2">Callum Jepps</p>
            </a>
          </div>

          <div class="col-md-2 d-flex flex-column align-items-center">
            <a href="https://www.linkedin.com/in/eduard-stan-a98a54215/" class="zoom-effect">
              <img src="static/images/blank-avatar.jpeg" alt="Eduard" class="footer-images" />
              <p class="mt-2">Eduard Viorel Stan</p>
            </a>
          </div>

          <div class="col-md-2 d-flex flex-column align-items-center">
            <a href="http://www.linkedin.com/in/edisonkwan/" class="zoom-effect">
              <img src="static/images/blank-avatar.jpeg" alt="Edison" class="footer-images" />
              <p class="mt-2">Edison Kwan</p>
            </a>
          </div>
        </div>
      </section> 

      <!-- Disclaimer -->

      <div class="text-center p-3">
        <p><i>This site was created for the Code Institute | SODA Social Movember Hackathon</i></p>
      </div>
    </div>
  </footer>