{% load static %}

<footer class="footer">
    <div class="container p-4 pb-0 text-center">

    <!-- Names -->

      <section class="mb-4">
        <div class="row">
          <div class="col-md-2 d-flex flex-column align-items-center">
            <a href="#">
              <img src="#" alt="Georgina" class="footer-images" />
              <p class="mt-2">Georgina Carlisle</p>
            </a>
          </div>

          <div class="col-md-2 d-flex flex-column align-items-center">
            <a href="#">
              <img src="#" alt="Joy" class="footer-images" />
              <p class="mt-2">Joy Zadan</p>
            </a>
          </div>

          <div class="col-md-2 d-flex flex-column align-items-center">
            <a href="#">
              <img src="#" class="footer-images" alt="Radleigh" />
              <p class="mt-2">Radleigh Smith</p>
            </a>
          </div>

          <div class="col-md-2 d-flex flex-column align-items-center">
            <a href="#">
              <img src="#" alt="Callum" class="footer-images" />
              <p class="mt-2">Callum Jepps</p>
            </a>
          </div>

          <div class="col-md-2 d-flex flex-column align-items-center">
            <a href="#">
              <img src="#" alt="Eduard" class="footer-images" />
              <p class="mt-2">Eduard Viorel Stan</p>
            </a>
          </div>

          <div class="col-md-2 d-flex flex-column align-items-center">
            <a href="#">
              <img src="#" alt="Edison" class="footer-images" />
              <p class="mt-2">Edison Kwan</p>
            </a>
          </div>
        </div>
      </section> 

      <!-- Disclaimer -->

      <div class="text-center p-3">
        <p><i>This site was created for the Code Institute | SODA Social Movember Hackathon</i></p>
      </div>
    </div>
  </footer>