{% load static %}
{% load crispy_forms_tags %}

<nav class="navbar navbar-expand-lg bg-body-tertiary ">
    <div class="container-fluid header">
        <!-- Logo -->
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'favicon/favicon-32x32.svg' %}" alt="sample logo" class="logo">
        </a>

        <!-- Toggler Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation Items -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms ms-auto">
                <!-- Static Links -->
                <li class="nav-item">
                    <a class="btn btn-outline-light btn-lg call-to-action navigation-links" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <!-- ... other links ... -->
                <li class="nav-item">
                    <a class="btn btn-outline-light btn-lg call-to-action navigation-links" aria-current="page" href="{% url 'blog_list' %}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-light btn-lg call-to-action navigation-links" aria-current="page" href="">Events</a>
                </li>

                <!-- Dynamic User Account Section -->
                {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle btn btn-outline-light btn-lg call-to-action navigation-links" href="#" id="userMenuDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            My Account
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="userMenuDropdown">
                            <li><a class="dropdown-item" href="{% url 'profile' %}">My Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="btn btn-outline-light btn-lg call-to-action navigation-links" href="{% url 'account_login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-light btn-lg call-to-action navigation-links" href="{% url 'account_signup' %}">Register</a>
                    </li>
                {% endif %}
            </ul>

            
        </div>
    </div>
</nav>
