{% extends 'base.html' %}

{% block content %}
<h2>Blog List</h2>

{% if blogs %}
<ul>
  {% for blog in blogs %}
  <li>
    {% if blog.image %}
    <img src="{{ blog.image.url }}" alt="{{ blog.title }} Image" style="max-width: 100%; max-height: 200px;">
    {% endif %}
    <h3><a href="{% url 'blog_detail' blog.id %}">{{ blog.title }}</a></h3>
    <p>Author: {% if blog.author %}{{ blog.author.username }}{% else %}Anonymous{% endif %}</p>
    <p>Content: {{ blog.content }}</p>
    <p>Created at: {{ blog.created_at }}</p>
    <p>Likes: {{ blog.likes_count }}</p>
    <p>Comments: {{ blog.comments_count }}</p>
    <p><small>Interests: {% for interest in blog.interests.all %}{{ interest.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</small></p>
    
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No blogs available.</p>
{% endif %}
{% endblock %}