{% extends 'base.html' %}

{% block content %}

<div class="mt-4 mb-1 text-center">
  <h2 class="">Discover Blogs</h2>
  <div id="create-blog-btn" class="">
    <a href="{% url 'create_blog' %}" class="btn btn-warning" aria-label="Create a blog">Create a Blog</a>
  </div>
  <hr>
</div>

<div class="search-bar">
  <form class="form-inline w-100" method="GET" action="">
    <div class="input-group w-100">
      <input class="form-control" type="search" placeholder="&#128269; Search Blogs" name="q" aria-label="Search Blogs">
    </div>
  </form>
</div>
<div class="container-blogs">
  <div class="row">
    {% if blogs %}
      <!-- Blog Entries Column -->
      <div class="col-12 mt-3 left">
          <div class="row">
              {% for blog in blogs %}
              <div class="col-md-4">
                  <div class="card mb-4">
                      <div class="card-body">
                        <div class="image-container">

                            {% if blog.image %}
                              <img src="{{ blog.image.url }}" alt="{{ blog.title }} Image" style="width: 100%; height: auto;">
                            {% endif %}
                            <h3><a href="{% url 'blog_detail' blog.id %}" class="blog-title">{{ blog.title }}</a></h3>
                            <p>Author: {% if blog.author %}{{ blog.author.username }}{% else %}Anonymous{% endif %}</p>
                            <p>Content: {{ blog.content|truncatechars:100|safe }}</p>
                            <p>Created at: {{ blog.created_at }}</p>
                            <p>Likes: {{ blog.likes_count }}</p>
                            <p>Comments: {{ blog.comments.count }}</p>
                            <p><small>Interests: {% for interest in blog.interests.all %}{{ interest.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</small></p>
                            <a href="{% url 'blog_detail' blog.id %}" class="btn btn-outline-light btn-lg call-to-action navigation-links" id="to-post-button">Go to post</a>
                        </div>
                      </div>
                  </div>
              </div>
              {% endfor %}

    {% else %}
    <p>No blogs available.</p>
    {% endif %}

{% endblock %}