{% extends 'base.html' %}

{% block content %}
<h2>Blog Details</h2>

{% if blog.image %}
<img src="{{ blog.image.url }}" alt="{{ blog.title }} Image" style="max-width: 100%; max-height: 200px;">
{% endif %}

<h3>{{ blog.title }}</h3>
<p>Author: {% if blog.author %}{{ blog.author.username }}{% else %}Anonymous{% endif %}</p>
<p>Content: {{ blog.content }}</p>
<p>Created at: {{ blog.created_at }}</p>
<p>Likes: {{ blog.likes_count }}</p>
<p>Comments: {{ blog.comments_count }}</p>

<p>Interests: {% for interest in blog.interests.all %}{{ interest.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>

{% if user.is_authenticated and blog.author == user %}
<a href="{% url 'edit_blog' blog.id %}" class="btn btn-primary" aria-label="edit blog">Edit</a>
<a href="{% url 'delete_blog' blog.id %}" class="btn btn-danger" aria-label="delete blog">Delete</a>
{% endif %}
{% endblock %}