{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="">
  <div class="card create-blog-cont mt-4 mb-4">
    <div class="card-body">

      <div class="container">
            <h1 class="mb-4 d-flex justify-content-center">Create Blog</h1>
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <fieldset class="rounded px-3">
                <legend class="fieldset-label small text-black px-2 w-auto"></legend>
                {{ form.title | as_crispy_field }}
                {{ form.content | as_crispy_field }}
                {{ form.interests | as_crispy_field }}
                {{ form.image | as_crispy_field }}
                
              </fieldset>
              <button type="submit" class="btn btn-outline-light btn-lg call-to-action navigation-links" aria-label="submit the form" id="new-blog-btn">Submit</button>
            </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}
