{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <!-- Favicon links, code copied from https://favicon.io/ -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch.svg' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/fav-32x32.svg' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/fav-16x16.svg' %}">
        <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}"> 
        {% block extra_css %}  

        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
            integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
        {% endblock %} {% block onload_js%}
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"
            integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer">
        </script>
        {% endblock %}

        <title>MOvember {% block title %} {% endblock %}</title>
    </head>
    <body>
        
        {% include 'includes/header.html' %}
        {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
        {% endif %}
        <main>{% block content %} {% endblock %}</main>

        {% include 'includes/footer.html' %} {% block extra_js %} {% endblock %}
        {% block postloadjs %}
        <script type="text/javascript">
            $('.toast').toast('show');
        </script>
        {% endblock %}

    </body>
</html>
